div {
  margin-bottom: 10px;
}

.pin {
  display: flex;
}

.circle {
  width: 100px;
  height: 100px;
  cursor: pointer;
  border-radius: 50%;
  margin: 0 10px 0 0;
}

.question {
  background-color: #CB360D;
}

.understanding {
  background-color: #E1AA13;
}

.exclamation {
  background-color: #138BAE;
}