/* ページ全体の設定 */

.all {
  width: 1380px;
  margin: 0 auto;
  margin-top: 30px;
}

/* ページの左側の設定 */

.leftSection {
  width: 960px;
  float: left;
}

/* ページの右側の設定 */

.rightSection {
  width: 390px;
  float: right;
}

/* ヘッダー */

header {
  height:80px;
  background: #FFFFFF;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
	display: flex;
	align-items: center;
}

/* P!ntのロゴ */

.pintLogo {
  width: auto;
  height: 60px;
  margin-left: 30px;
  float: left;
}

/* ログアウトボタン */

.Logout {
  width: 120px;
  height: 50px;
  
  border: 0;
  border-radius: 5px;
  background-color: #FE5600;

  font-style: normal;
	font-weight: bold;
  font-size: 20px;
  color: white;

	display: flex;
	justify-content: center;
  align-items: center;
  margin: 0 0 0 auto;
  margin-right: 30px;
}